Repository microsoft/scalar, pull requests merged in 2020-10, with the labels that each got.

#451 RunVerb: pass git features to ConfigStep
  Scalar/CommandLine/RunVerb.cs
Labels: platform:linux

#450 Build Debian packages and tarball for Linux builds
  .github/workflows/build-installers.yml
  Scalar.Packaging.Linux/Scalar.Packaging.Linux.csproj
  Scalar.Packaging.Linux/build.sh
  Scalar.sln
Labels: platform:linux

#453 SignFiles: drop upgrader on macOS
  Scalar.Signing/PostSignFiles.Mac.cmd
  Scalar.Signing/PreSignFiles.Mac.cmd
  Scalar.Signing/Scalar.SignFiles.Mac.csproj
Labels: cleanup

#454 Ensure correct version used on Linux for 20.10.178
  .github/workflows/build-installers.yml
  Scalar.Packaging.Linux/build.sh
Labels: bug, engineering, platform:linux
